.hero-container {
  background: linear-gradient(132deg, #7f71fb 0%, #b773fc 100%);
  padding: 60px;
}

.logo {
  max-width: 169px;
}

.title {
  color: #fff;
  text-align: center;
  letter-spacing: 0.05em;
  line-height: 1.28;
  font-weight: 600;
  margin-top: 60px;
}
