.what {
  background: linear-gradient(132deg, rgba(87, 153, 235, 0.1) 0%, rgba(159, 116, 251, 0.1) 100%);
  position: relative;
}

.what .title {
  background: linear-gradient(115deg, #6793f0 0%, #745eff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 2.875rem;
}

.what .description {
  color: #947bf9;
  font-size: 1.375rem;
  margin-bottom: 2.875rem;
}
