html {
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'DM Sans', 'Arial', sans-serif;
}

.app h2 {
  color: #26207f;
  text-align: center;
  font-family: DM Sans;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 2.875rem;

  @media (min-width: 640px) {
    font-size: 3rem;
    line-height: 1.5; /* 150% */
  }
}

section {
  padding: 60px 30px;
  margin: 0 auto;

  @media (min-width: 1536px) {
    padding: 80px 120px;
  }
}

.featured-description {
  color: #947bf9;
  font-size: 1.375rem;
  margin-bottom: 2.875rem;
  text-align: center;
}
