---
import i18next, { changeLanguage, t } from "i18next";
import { Header, Hero, Features, What, How, Highlights, Footer } from "../components";
import "./app.css";

changeLanguage("en");
---

<html lang={i18next.language}>
	<head>
		<meta charset="utf-8" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,600;9..40,700;9..40,800&display=swap" rel="stylesheet">
		<link rel="icon" type="image/svg+xml" href="/images/excited-icon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{t('pageTitle')}</title>
	</head>
	<body class="app">
		<Header />
		<Hero />
		<div class="container mx-auto relative">
			<Features />
			<What />
			<How />
			<Highlights />
		</div>
		<Footer />
	</body>	
</html>

<script>

	setTimeout(() => {
		const moon = document.querySelector('.moon');
		const moonB = document.querySelector('.moon-b');
		const moonC = document.querySelector('.moon-c');

		moon?.classList.add('moon-in')
		moonB?.classList.add('moon-b-in')
		moonC?.classList.add('moon-c-in')

	}, 500);

	const city = document.querySelector('.city');
	city?.classList.add('city-in')

	const clouds = document.querySelector('.clouds');
	clouds?.classList.add('clouds-in')

	const hamburger = document.querySelector('#xctd-menu');
	const menu = document.querySelector('.mobile-nav');
	const menuLinks = document.querySelectorAll('a.mobile-nav-link');

	let open = false;

	function openMenu() {
		open = true
      document.body.style.position = 'fixed';
      document.body.style.top = `-${window.scrollY}px`;
			document.body.style.left = '0';
			document.body.style.right = '0';
			document.body.style.bottom = '0';

			hamburger?.classList.add('open')
			menu?.classList.add('mobile-nav-in')
	}

	function closeMenu() {
		open = false
			const scrollY = document.body.style.top;
			document.body.style.position = '';
			document.body.style.top = '';
			document.body.style.left = '';
			document.body.style.right = '';
			document.body.style.bottom = '';
			window.scrollTo(0, parseInt(scrollY || '0') * -1);

			hamburger?.classList.remove('open')
			menu?.classList.remove('mobile-nav-in')
	}

	hamburger?.addEventListener('click', () => {
		if (open) {
			closeMenu()
		} else {
			openMenu()
		}
	})

	menuLinks.forEach(link => {
		link.addEventListener('click', () => {
			closeMenu()
		})
	})

</script>