---
import i18next, { changeLanguage, t } from "i18next";
import { Hero, Features } from "../components";
import "./app.css";

changeLanguage("en");
---

<html lang={i18next.language}>
	<head>
		<meta charset="utf-8" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,600;9..40,700;9..40,800&display=swap" rel="stylesheet">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{t('pageTitle')}</title>
	</head>
	<body>
		<div class="container mx-auto">
			<Hero />
			<Features />
		</div>
	</body>	
</html>

<script>

	setTimeout(() => {
		const moon = document.querySelector('.moon');
		moon?.classList.add('moon-in')
	}, 1000);

	const city = document.querySelector('.city');
	city?.classList.add('city-in')

	const clouds = document.querySelector('.clouds');
	clouds?.classList.add('clouds-in')

</script>