.feature {
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  box-shadow: 0px 12px 33px rgba(0, 0, 0, 0.1);
  padding: 80px 30px 30px 30px;
  border-top: 3px solid #8981f6;
  height: 100%;
  position: relative;
}

.feature .title {
  font-size: 1.625rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1rem;
}

.feature .description {
  color: #4f4f4f;
  text-align: center;
}

.feature .cta {
  color: #fff;
  font-weight: 800;
  padding: 0.75rem 1.5rem;
  text-align: center;
  border-radius: 5.5rem;
  background: linear-gradient(138deg, #6295ee 0%, #947bf9 100%);
}

.feature .cta:hover {
  opacity: 0.8;
}

.feature .image {
  min-width: 100px;
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
}
