.features .features-text {
  font-size: 1.375rem;
  text-align: center;
  color: #4a4a4a;
  max-width: 80%;
}

.features .features-text span {
  background: linear-gradient(138deg, #6793f0 0%, #917ef9 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}
